In [1]:
import pandas as pd
import numpy as np
from pandas.api.types import CategoricalDtype
from sklearn.impute import KNNImputer
import matplotlib.pyplot as plt

# df1

In [2]:
df1 = pd.read_excel('EXP2022-01_STATSTD.xlsx' , sheet_name=0)

In [3]:
df1.drop(index=df1[df1.STATUSTEXT == 'มารายงานตัวแล้ว'].index.tolist(), inplace=True)
df1.drop(index=df1[df1.STATUSTEXT == 'พ้นสภาพเนื่องจากไม่ชำระค่าต่อทะเบียนนักศึกษา'].index.tolist(), inplace=True)
df1.drop(index=df1[df1.STATUSTEXT == 'พ้นสภาพเนื่องจากไม่ลงทะเบียนตามเวลากำหนด'].index.tolist(), inplace=True)

In [4]:
df1.drop([ 'PROGRAMID' , 'STUDENTSTATUS', 'SCHOOLNAME','GRADUATEYEAR' ] , axis=1, inplace=True)

In [5]:
df1.replace('-', np.nan, inplace=True)

In [6]:
df1['PROGRAMNAME'].value_counts().index

Index(['สารสนเทศสถิติ', 'สถิติ',
       'สถิติและวิทยาการข้อมูล สาขาวิชาเอกสารสนเทศสถิติและวิทยาการข้อมูล',
       'สถิติและวิทยาการข้อมูล สาขาวิชาเอกสถิติศาสตร์'],
      dtype='object')

In [7]:
df1['STATUSTEXT'].value_counts().index

Index(['นักศึกษาปัจจุบัน สถานะปกติ', 'สำเร็จการศึกษา', 'พ้นสภาพเนื่องจากลาออก',
       'พ้นสภาพเนื่องจากตกออก', 'ลาพักการเรียน'],
      dtype='object')

In [8]:
df1.STATUSTEXT.replace({'นักศึกษาปัจจุบัน สถานะปกติ' : 0, 'สำเร็จการศึกษา' :0,
                        'พ้นสภาพเนื่องจากลาออก':1, 'พ้นสภาพเนื่องจากตกออก':1, 'ลาพักการเรียน':0}, inplace=True)

df1.STUDENTSEX.replace({'หญิง':0, 'ชาย':1}, inplace=True)

In [9]:

df1['PROGRAMNAME'] = df1['PROGRAMNAME'].astype( CategoricalDtype([ 'สารสนเทศสถิติ', 'สถิติ',
       'สถิติและวิทยาการข้อมูล สาขาวิชาเอกสารสนเทศสถิติและวิทยาการข้อมูล',
       'สถิติและวิทยาการข้อมูล สาขาวิชาเอกสถิติศาสตร์' ], ordered=True))

df1['Type_Exam'] = df1['Type_Exam'].astype( CategoricalDtype([ 'สอบคัดเลือกจากระบบกลาง(Admissions)',
       'สอบคัดเลือกประเภทโควตาภาคตะวันออกเฉียงเหนือ', 'โควตาทั่วประเทศ',
       'โครงการรับนักเรียนที่เป็นผู้มีคุณธรรม จริยธรรม และบริการสังคม',
       'โครงการร่วมรับนักศึกษาภาคใต้กับมหาวิทยาลัยสงขลานครินทร์ โดยวิธีรับตรง',
       'การคัดเลือกโดยวิธีพิเศษ',
       'โครงการร่วมรับนักศึกษาภาคเหนือกับมหาวิทยาลัยเชียงใหม่ โดยวิธีรับตรง',
       'โครงการมูลนิธิส่งเสริมโอลิมปิกวิชาการฯ (สอวน.)' ], ordered=True))

df1['STATUSOFTHFATHER'] = df1['STATUSOFTHFATHER'].astype( CategoricalDtype([ 'อยู่ด้วยกัน', 'หย่าขาดจากกัน', 'บิดาถึงแก่กรรม',
       'แยกกันอยู่เพราะเหตุผลอื่นๆ', 'แยกกันอยู่เพราะความจำเป็นเกี่ยวกับอาชีพ',
       'มารดาถึงแก่กรรม', 'บิดามารดาถึงแก่กรรม' ], ordered=True))

In [10]:
df1['PROGRAMNAME']=df1.PROGRAMNAME.cat.codes
df1['Type_Exam']=df1['Type_Exam'].cat.codes
df1['STATUSOFTHFATHER']=df1.STATUSOFTHFATHER.cat.codes

In [11]:
df1.head()

,HSID,PROGRAMNAME,ADMITACADYEAR,STATUSTEXT,GPA,ENTRYGPA,Type_Exam,STUDENTSEX,STATUSOFTHFATHER,FATHERINCOME,YEARFATHER,MOTHERINCOME,YEARMOTHER,บุตรคนที่,จำนวนพี่น้อง
0,10B25D084BD9221E9DD46E0FEBC078F2,1,2558,1,1.21,3.26,1,0,0,100000,44,100000,45,1.0,4
2,4841685FB7535D94D69C041D01236E33,1,2558,0,2.60,3.38,1,0,0,10000,43,9000,37,1.0,2
3,D9F4ADF1492A801669E02957367B4800,1,2558,0,2.44,3.82,1,0,0,30000,49,30000,48,3.0,3
4,2A5133DDDC8B468E22C6623C39FEB299,1,2558,0,2.29,3.16,1,0,0,53080,59,47660,54,3.0,3
5,59D53EA700235906C930C3CF34D09DD5,1,2558,0,3.23,3.56,1,0,0,27000,58,10000,50,2.0,2

In [12]:
df1['YEARFATHER'].replace(regex=True,inplace=True,to_replace=r'\D',value= np.nan)
df1['FATHERINCOME'].replace(regex=True,inplace=True,to_replace=r'\D',value= np.nan)
df1['MOTHERINCOME'].replace(regex=True,inplace=True,to_replace=r'\D',value= np.nan)
df1['YEARMOTHER'].replace(regex=True,inplace=True,to_replace=r'\D',value= np.nan)
df1['บุตรคนที่'].replace(regex=True,inplace=True,to_replace=r'\D',value= np.nan)
df1['จำนวนพี่น้อง'].replace(regex=True,inplace=True,to_replace=r'\D',value= np.nan)

In [13]:
imputer = KNNImputer(n_neighbors=2, weights="uniform")
df1[['FATHERINCOME', 'YEARFATHER', 'MOTHERINCOME', 'YEARMOTHER']] = imputer.fit_transform(df1[['FATHERINCOME', 'YEARFATHER', 'MOTHERINCOME', 'YEARMOTHER']])

In [14]:
df1.dropna(inplace=True)

In [15]:
df1.head()

,HSID,PROGRAMNAME,ADMITACADYEAR,STATUSTEXT,GPA,ENTRYGPA,Type_Exam,STUDENTSEX,STATUSOFTHFATHER,FATHERINCOME,YEARFATHER,MOTHERINCOME,YEARMOTHER,บุตรคนที่,จำนวนพี่น้อง
0,10B25D084BD9221E9DD46E0FEBC078F2,1,2558,1,1.21,3.26,1,0,0,100000.0,44.0,100000.0,45.0,1.0,4
2,4841685FB7535D94D69C041D01236E33,1,2558,0,2.60,3.38,1,0,0,10000.0,43.0,9000.0,37.0,1.0,2
3,D9F4ADF1492A801669E02957367B4800,1,2558,0,2.44,3.82,1,0,0,30000.0,49.0,30000.0,48.0,3.0,3
4,2A5133DDDC8B468E22C6623C39FEB299,1,2558,0,2.29,3.16,1,0,0,53080.0,59.0,47660.0,54.0,3.0,3
5,59D53EA700235906C930C3CF34D09DD5,1,2558,0,3.23,3.56,1,0,0,27000.0,58.0,10000.0,50.0,2.0,2

# df2

In [23]:
df2 = pd.read_excel('EXP2022-01_STATSTD.xlsx' , sheet_name=1)

In [24]:
df2.dropna(inplace=True)

In [25]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24491 entries, 0 to 26631
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   HSID           24491 non-null  object
 1   COURSECODE     24491 non-null  object
 2   COURSENAMEENG  24491 non-null  object
 3   GRADE          24491 non-null  object
dtypes: object(4)
memory usage: 956.7+ KB

In [26]:
df2.head()

,HSID,COURSECODE,COURSENAMEENG,GRADE
0,10B25D084BD9221E9DD46E0FEBC078F2,311112,BIOLOGY FOR PHYSICAL SCIENCE LABORATORY,D
1,10B25D084BD9221E9DD46E0FEBC078F2,311111,BIOLOGY FOR PHYSICAL SCIENCE,D+
2,10B25D084BD9221E9DD46E0FEBC078F2,315106,ELEMENTARY PHYSICS,D+
3,10B25D084BD9221E9DD46E0FEBC078F2,322161,INTRODUCTION TO INFORMATION AND COMMUNICATION TECHNOLOGY,D+
4,10B25D084BD9221E9DD46E0FEBC078F2,312108,FUNDAMENTAL CHEMISTRY,F

In [27]:
df2['COURSE_GRADE'] = df2.COURSENAMEENG + '_' +df2.GRADE
dummy_df = pd.get_dummies(df2,columns = ['COURSE_GRADE'])
dummy_df.drop(['COURSECODE', 'COURSENAMEENG'],1,inplace=True)
dummy_df.dropna(inplace=True)

C:\Users\SIRIPAT JANKHUANG\anaconda3\envs\pycaret\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [28]:
data_final = dummy_df.groupby('HSID').sum().reset_index()

In [29]:
data_final.head()

,HSID,COURSE_GRADE_ BUSINESS INFORMATION SYSTEMS ANALYSIS AND DESIGN_A,COURSE_GRADE_ BUSINESS INFORMATION SYSTEMS ANALYSIS AND DESIGN_B,COURSE_GRADE_ BUSINESS INFORMATION SYSTEMS ANALYSIS AND DESIGN_B+,COURSE_GRADE_ BUSINESS INFORMATION SYSTEMS ANALYSIS AND DESIGN_C,COURSE_GRADE_ BUSINESS INFORMATION SYSTEMS ANALYSIS AND DESIGN_C+,COURSE_GRADE_ BUSINESS INFORMATION SYSTEMS ANALYSIS AND DESIGN_D,COURSE_GRADE_ BUSINESS INFORMATION SYSTEMS ANALYSIS AND DESIGN_D+,COURSE_GRADE_ BUSINESS INFORMATION SYSTEMS ANALYSIS AND DESIGN_F,COURSE_GRADE_ DATA MANAGEMENT_A,...,COURSE_GRADE_TOXIC SUBSTANCES IN DAILY LIFE_C+,COURSE_GRADE_TOXIC SUBSTANCES IN DAILY LIFE_D+,COURSE_GRADE_TROPICAL SOILS_A,COURSE_GRADE_TROPICAL SOILS_B+,COURSE_GRADE_VIETNAMESE I_D,COURSE_GRADE_WAY OF LIFE IN THE SUFFICIENCY ECONOMY_A,COURSE_GRADE_WILDLIFE CONSERVATION MANAGEMENT_A,COURSE_GRADE_WORLD CIVILIZATION_A,COURSE_GRADE_WORLD CIVILIZATION_B,COURSE_GRADE_WORLD CIVILIZATION_B+
0,0028506452133DB72B03DFE8F4016E6B,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,00338A9C8C12BEDC02D0385EF13D8A48,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0045EF40CAF432917E2DE5B4D6FDAC66,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,006C3C97C1EF9A78270B9DF2EE332D20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,00A35F3AFFEFE29091C40FE4273BBECF,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
df_selec_F = pd.DataFrame(data_final.columns.str.split('_').tolist(),
                                 columns = ['a', 'b', 'c','d'])

df_selec_F = df_selec_F[df_selec_F['d'] == 'F']

df_selec_F['E'] = df_selec_F['a']+ '_'+df_selec_F['b']+'_'+df_selec_F['c']+'_'+df_selec_F['d']
#df_selec_F.E.values

data_final = pd.concat((data_final['HSID'] , data_final[df_selec_F.E.values]) , 1)
data_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Columns: 106 entries, HSID to COURSE_GRADE_Statistical Analysis I_F
dtypes: object(1), uint8(105)
memory usage: 77.3+ KB

C:\Users\SIRIPAT JANKHUANG\anaconda3\envs\pycaret\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  if __name__ == '__main__':

In [31]:
data = df1.merge(data_final, how='left', on='HSID')

In [32]:
data.drop('HSID',1,inplace=True)

C:\Users\SIRIPAT JANKHUANG\anaconda3\envs\pycaret\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 659 entries, 0 to 658
Columns: 119 entries, PROGRAMNAME to COURSE_GRADE_Statistical Analysis I_F
dtypes: float64(112), int64(3), int8(3), object(1)
memory usage: 604.3+ KB

In [34]:
data.shape

(659, 119)

In [35]:
data.head()

,PROGRAMNAME,ADMITACADYEAR,STATUSTEXT,GPA,ENTRYGPA,Type_Exam,STUDENTSEX,STATUSOFTHFATHER,FATHERINCOME,YEARFATHER,...,COURSE_GRADE_STATISTICAL ANALYSIS I_F,COURSE_GRADE_STATISTICAL DATA PROCESSING_F,COURSE_GRADE_STATISTICAL INFORMATION FOR STRATEGIC MANAGEMENT_F,COURSE_GRADE_STATISTICAL INFORMATION PROJECT II_F,COURSE_GRADE_STATISTICAL MODEL_F,COURSE_GRADE_STATISTICAL QUALITY CONTROL_F,COURSE_GRADE_STATISTICAL THEORY II_F,COURSE_GRADE_STATISTICAL THEORY I_F,COURSE_GRADE_Statistical Analysis II_F,COURSE_GRADE_Statistical Analysis I_F
0,1,2558,1,1.21,3.26,1,0,0,100000.0,44.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2558,0,2.60,3.38,1,0,0,10000.0,43.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,2558,0,2.44,3.82,1,0,0,30000.0,49.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,2558,0,2.29,3.16,1,0,0,53080.0,59.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,2558,0,3.23,3.56,1,0,0,27000.0,58.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
data_2564 =data[data['ADMITACADYEAR'] == 2564]
data =data[data['ADMITACADYEAR'] != 2564]

In [37]:
data_2564.drop('ADMITACADYEAR',1, inplace=True)

C:\Users\SIRIPAT JANKHUANG\anaconda3\envs\pycaret\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [38]:
data.drop('ADMITACADYEAR',1, inplace=True)

C:\Users\SIRIPAT JANKHUANG\anaconda3\envs\pycaret\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

# Feature selection

In [39]:
from scipy import stats # chi-sq test
categorical_features=['STUDENTSEX','PROGRAMNAME' ,'Type_Exam' ,'STATUSOFTHFATHER']

#loop test chi- sq test
stat_sig = []
for i in categorical_features:
    data_count = pd.crosstab(data[i] , data['STATUSTEXT'])
    obs = data_count.values
    #print(obs)
    chi2 , p , dof , expected = stats.chi2_contingency(obs)
    #print(p)
    stat_sig.append([i , round(p , 5)])

#print(stat_sig)

stat_sig = pd.DataFrame(stat_sig)
stat_sig.columns = ['Attribute' , 'P-value']
stat_sig[stat_sig['P-value'] > 0.05]

          Attribute  P-value
1       PROGRAMNAME  0.17685
2         Type_Exam  0.49223
3  STATUSOFTHFATHER  0.54382

In [40]:
data.drop(np.array(stat_sig[stat_sig['P-value'] > 0.05].Attribute) ,1 , inplace=True)

C:\Users\SIRIPAT JANKHUANG\anaconda3\envs\pycaret\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [41]:
stat_sig = []
for i in df_selec_F.E.values:
    data_count = pd.crosstab(data[i] , data['STATUSTEXT'])
    obs = data_count.values
    #print(obs)
    chi2 , p , dof , expected = stats.chi2_contingency(obs)
    #print(p)
    stat_sig.append([i , round(p , 5)])

#print(stat_sig)

stat_sig = pd.DataFrame(stat_sig)
stat_sig.columns = ['Attribute' , 'P-value']
stat_sig[stat_sig['P-value'] > 0.05]

                                             Attribute  P-value
0    COURSE_GRADE_\tBUSINESS INFORMATION SYSTEMS AN...  0.33989
1                     COURSE_GRADE_\tDATA MANAGEMENT_F  0.33989
2              COURSE_GRADE_\tEXPERIMENTAL DESIGNS I_F  0.70980
3                 COURSE_GRADE_\tSAMPLING TECHNIQUES_F  0.33989
4             COURSE_GRADE_\tSTATISTICAL ANALYSIS II_F  0.08217
..                                                 ...      ...
100         COURSE_GRADE_STATISTICAL QUALITY CONTROL_F  1.00000
101               COURSE_GRADE_STATISTICAL THEORY II_F  1.00000
102                COURSE_GRADE_STATISTICAL THEORY I_F  0.22224
103             COURSE_GRADE_Statistical Analysis II_F  0.70980
104              COURSE_GRADE_Statistical Analysis I_F  0.70980

[66 rows x 2 columns]

In [42]:
data.drop(np.array(stat_sig[stat_sig['P-value'] > 0.05].Attribute) ,1 , inplace=True)

C:\Users\SIRIPAT JANKHUANG\anaconda3\envs\pycaret\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [43]:
data.to_csv(r'Data_DropOut(ตกออก, ลาออก).csv',encoding='utf-8-sig')

In [44]:
data_2564 = data_2564[data.columns]

In [45]:
data_2564.to_csv(r'Data_2564_DropOut(ตกออก, ลาออก).csv',encoding='utf-8-sig')

In [46]:
data_2564

,STATUSTEXT,GPA,ENTRYGPA,STUDENTSEX,FATHERINCOME,YEARFATHER,MOTHERINCOME,YEARMOTHER,บุตรคนที่,จำนวนพี่น้อง,...,COURSE_GRADE_LEARNING SKILLS_F,COURSE_GRADE_LOCAL WISDOM_F,COURSE_GRADE_MEDITATION FOR LIFE DEVELOPMENT_F,COURSE_GRADE_MULTICULTURALISM_F,COURSE_GRADE_OPERATIONS RESEARCH_F,COURSE_GRADE_PHYSICAL EDUCATION ACTIVITY (AEROBIC DANCE)_F,COURSE_GRADE_RISK AND INSURANCE_F,COURSE_GRADE_SMALL AND MEDIUM ENTERPRISES MANAGEMENT_F,COURSE_GRADE_STATISTICAL ANALYSIS I_F,COURSE_GRADE_STATISTICAL MODEL_F
556,0,2.63,3.62,0,45000.0,52.0,14000.0,52.0,1.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
557,0,1.95,3.23,0,3000.0,55.0,9000.0,54.0,2.0,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
558,0,2.45,3.05,0,40000.0,51.0,40000.0,49.0,2.0,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
559,0,1.97,3.00,0,37210.0,46.0,22980.0,49.0,1.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
560,0,3.24,3.50,0,15000.0,43.0,15000.0,43.0,2.0,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
654,0,0.00,3.30,0,30000.0,47.0,20000.0,45.0,1.0,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
655,0,2.24,3.89,0,59000.0,50.0,30000.0,50.0,2.0,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
656,1,0.63,3.76,0,5000.0,71.0,10000.0,57.0,1.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
657,0,3.00,3.22,0,15000.0,42.0,15000.0,50.0,1.0,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
658,0,2.55,3.77,0,15000.0,55.0,5000.0,52.0,3.0,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0