In [107]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

In [90]:
webpage=requests.get('https://www.jobthai.com/%E0%B8%AB%E0%B8%B2%E0%B8%87%E0%B8%B2%E0%B8%99/%E0%B8%87%E0%B8%B2%E0%B8%99%E0%B8%97%E0%B8%B1%E0%B9%89%E0%B8%87%E0%B8%AB%E0%B8%A1%E0%B8%94/1').text

In [101]:
# https://www.ambitionbox.com/list-of-companies?page=1
final=pd.DataFrame()
for j in range(1,10):
    webpage=requests.get('https://www.jobthai.com/%E0%B8%AB%E0%B8%B2%E0%B8%87%E0%B8%B2%E0%B8%99/%E0%B8%87%E0%B8%B2%E0%B8%99%E0%B9%80%E0%B8%88%E0%B9%89%E0%B8%B2%E0%B8%AB%E0%B8%99%E0%B9%89%E0%B8%B2%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B8%84%E0%B8%A7%E0%B8%B2%E0%B8%A1%E0%B8%9B%E0%B8%A5%E0%B8%AD%E0%B8%94%E0%B8%A0%E0%B8%B1%E0%B8%A2-%E0%B8%88%E0%B8%9B-%E0%B8%AA%E0%B8%B4%E0%B9%88%E0%B8%87%E0%B9%81%E0%B8%A7%E0%B8%94%E0%B8%A5%E0%B9%89%E0%B8%AD%E0%B8%A1-iso/{}'.format(j)).text
    soup=BeautifulSoup(webpage,'lxml')
    company=soup.find_all('div',class_='ant-row msklqa-8 hQCzHL')
    d1 = []
    d2 = []
    d3 = []
    d4 = []
    d5 = []
    d6 = []

    for i in company:

        try:
            d1.append(i.find_all('span', class_='ohgq7e-0 msklqa-6 itKEax')[1].text.strip())
        except:
            d1.append(np.nan)

        try:
            d2.append(i.find('h2', class_='ohgq7e-0 frNqfE').text.strip())
        except:
            d2.append(np.nan)
   
        try:
            d3.append(i.find('h2', class_='ohgq7e-0 gWWIiL').text.strip())
        except:
            d3.append(np.nan)

        try:
            d4.append(i.find('h3', class_='ohgq7e-0 ijtKqG').text.strip())
        except:
            d4.append(np.nan)

        try:
            d5.append(i.find('span', class_='ohgq7e-0 msklqa-5 gfpnRh').text.strip())
        except:
            d5.append(np.nan)
            
        try:
            d6.append(i.find_all('span', class_='ohgq7e-0 msklqa-5 gfpnRh')[1].text.strip())
        except:
            d6.append(np.nan)
    

    df=pd.DataFrame({'Date':d1,
            'jobName':d2,
            'company':d3,
            'colcation':d4,
            'salary':d5,
            'salary':d5,
            'disableperson' : d6    
            })
  
    final=final.append(df,ignore_index=True)

In [102]:
final

,Date,jobName,company,colcation,salary,disableperson
0,16 เม.ย. 65,จป.วิชาชีพ บริษัท เอฟพี อินดัสตรี้ จำกัด,บจก.นงนุช อินเตอร์เนชั่นแนล / นงนุช อินดัสเตรียล / เอฟพี อินดัสตรี้ / พีเอกซ์สเตอร์ / พีเอ็มซี อินดัสเตรียล,อ.ไทรน้อย จ.นนทบุรี,ตามตกลง,NaN
1,16 เม.ย. 65,เจ้าหน้าที่ จป.วิชาชีพ (Safety Officer),บริษัท เตียหงี่เฮียง (เจ้าสัว) จำกัด,อ.เมืองนครราชสีมา จ.นครราชสีมา,ตามโครงสร้างบริษัท,NaN
2,16 เม.ย. 65,จป.วิชาชีพ,ห้างหุ้นส่วนจำกัด ทองเอก,อ.เมืองนนทบุรี จ.นนทบุรี,ตามตกลง,NaN
3,16 เม.ย. 65,ผู้ช่วยเจ้าหน้าที่ความปลอดภัย,บริษัท น้ำมันพืชปทุม จำกัด,อ.ลาดหลุมแก้ว จ.ปทุมธานี,ตามตกลง,NaN
4,16 เม.ย. 65,พนักงานป้องกันและบรรเทาสาธารณภัย (บรรเทาเหตุฉุกเฉิน),บริษัท น้ำมันพืชปทุม จำกัด,อ.ลาดหลุมแก้ว จ.ปทุมธานี,ไม่ระบุ,NaN
...,...,...,...,...,...,...
172,14 เม.ย. 65,เจ้าหน้าที่ความปลอดภัยในการทำงาน,กลุ่มบริษัท อินเตอร์ คร็อพ จำกัด,นิคมอุตสาหกรรมบางปู จ.สมุทรปราการ,0,NaN
173,14 เม.ย. 65,Sustainability Manager,บริษัท เอ็น อาร์ อินสแตนท์ โปรดิวซ์ จำกัด (มหาชน),เขตปทุมวัน กรุงเทพมหานคร,Negotiable,
174,14 เม.ย. 65,ช่างสำรวจ ( Serveyer ),"Pido International Co., Ltd.",เขตห้วยขวาง กรุงเทพมหานคร,"18,000 - 45,000 บาท",NaN
175,14 เม.ย. 65,safety officer,บริษัท ซงอัน-ไทย เอ็นจิเนียริ่ง จำกัด,สวนอุตสาหกรรม 304 จ.ปราจีนบุรี,"18,000-30,000",
176,14 เม.ย. 65,เจ้าหน้าที่ความปลอดภัย(จป.วิชาชีพ),บริษัท โกลด์ มิ้นท์ โปรดักส์ จำกัด,เขตบางนา กรุงเทพมหานคร,,NaN

In [106]:
final.salary.value_counts()

ตามตกลง                                                                      32
ตามโครงสร้างบริษัท                                                           19
                                                                             15
ตามโครงสร้างบริษัทฯ                                                          14
ไม่ระบุ                                                                      11
N/A                                                                           9
ตามโครงสร้าง                                                                  7
ตามประสบการณ์                                                                 6
Negotiable                                                                    5
์N/A                                                                          3
ตามที่ตกลง                                                                    3
NA                                                                            2
ขึ้นอยู่กับประสบการณ์ทำงานและโครงสร้างองค์กร                                  2
18,000-22,000                                                                 2
ตามวุฒิและประสบการณ์                                                          2
12,000 - 20,000 บาท                                                           2
ตามโครงสร้างบริษัทฯ+ประสบการณ์                                                2
ตามโครงสร้างบริษัทฯและประสบการณ์                                              2
15,000 - 18,000 บาท                                                           2
ตามตกลงและตามความสามารถ                                                       1
18,000 - 45,000 บาท                                                           1
0                                                                             1
17,000 ++( ค่าตำแหน่ง +เงินได้ + OT)                                          1
เงินเดือนตามตกลง                                                              1
รายได้ขึ้นอยู่กับประสบการณ์ ต่อรองได้ตามประสบการณ์                            1
0 - 20,000                                                                    1
ต่อรองได้, พิจารณาตามความสามารถ ประสบการณ์ และโครงสร้างเงินเดือนของบริษัท     1
25,000 - 30,000                                                               1
ืN/A                                                                          1
พิจารณาตามประสบการณ์                                                          1
18,000 - 30,000                                                               1
18,000-20,000                                                                 1
15,000 บาทขึ้นไป                                                              1
15,000 - 30,000                                                               1
ตามผังโครงสร้างองค์กร                                                         1
16,000 - 20,000 บาท/ด.                                                        1
19,000-35,000 ตามประสบการณ์                                                   1
Follow Company Structure                                                      1
ต่อรองตามความเหมาะสม                                                          1
15,000 + ประสบการณ์                                                           1
(ป.ตรี 15,000 + ประสบการณ์) (ป.โท 20,000 + ประสบการณ์)                        1
ตามโครงสร้างของบริษัท                                                         1
ตามโครงสร้างขององค์กร                                                         1
24,000 - 30,000                                                               1
ตามความสามารถ                                                                 1
20,000 - 30,000                                                               1
ตามโครงสร้างและประสบการณ์                                                     1
ตามโครงสร้างเงินเดือน                                                         1
ตามโครงสร้างของบริษัท + ประสบการณ์                                            1
18,000 ++                                                                     1
โดยรวม30,000ขึ้นไป หรือ ตามตกลง                                               1
ไม่เกิน 17,000                                                                1
negotiable                                                                    1
20,000 - 25,000 บาท                                                           1
13,000                                                                        1
18,000-30,000                                                                 1
Name: salary, dtype: int64

In [105]:
len(final)

177

In [131]:
data = pd.read_json('data.json')
data

          id                                locationCoordinates
0     710295            {'lon': 101.1104316, 'lat': 13.0123506}
1     475105            {'lon': 101.1104316, 'lat': 13.0123506}
2     942943              {'lon': 100.549503, 'lat': 13.611126}
3    1148407           {'lon': 100.1832578, 'lat': 13.52576628}
4    1301783          {'lon': 101.11116886, 'lat': 13.61689653}
..       ...                                                ...
265   455652                     {'lon': 101, 'lat': 13.446557}
266   848336   {'lon': 100.63813482, 'lat': 13.699869960000001}
267   928203              {'lon': 100.484494, 'lat': 13.877395}
268  1036714  {'lon': 102.00739928205451, 'lat': 14.94370521...
269   909145               {'lon': 100.48186, 'lat': 13.804706}

[270 rows x 2 columns]

In [133]:
def get_valList(dict_ls,key):
  result = []
  for vote in dict_ls:
    if vote.get(key) == None:
      result.append(0)
    else:
      result.append(int(vote.get(key)))
  return result

In [138]:
for key in ['lon','lat']:
  data[key] = get_valList(data.locationCoordinates, key )

data

          id                                locationCoordinates  lon  lat
0     710295            {'lon': 101.1104316, 'lat': 13.0123506}  101   13
1     475105            {'lon': 101.1104316, 'lat': 13.0123506}  101   13
2     942943              {'lon': 100.549503, 'lat': 13.611126}  100   13
3    1148407           {'lon': 100.1832578, 'lat': 13.52576628}  100   13
4    1301783          {'lon': 101.11116886, 'lat': 13.61689653}  101   13
..       ...                                                ...  ...  ...
265   455652                     {'lon': 101, 'lat': 13.446557}  101   13
266   848336   {'lon': 100.63813482, 'lat': 13.699869960000001}  100   13
267   928203              {'lon': 100.484494, 'lat': 13.877395}  100   13
268  1036714  {'lon': 102.00739928205451, 'lat': 14.94370521...  102   14
269   909145               {'lon': 100.48186, 'lat': 13.804706}  100   13

[270 rows x 4 columns]

In [140]:
data.id.to_list()[:10]

[710295,
 475105,
 942943,
 1148407,
 1301783,
 1198607,
 1290201,
 1285152,
 1231658,
 762325]

In [153]:
final=pd.DataFrame()
for j in data.id.to_list()[:10]:
    webpage=requests.get('https://www.jobthai.com/th/job/{}'.format(j)).text
    soup=BeautifulSoup(webpage,'lxml')
    company=soup.find_all('div',class_='jltwsh-0 gkuvRx')
    d1 = []
    d2 = []
    d3 = []
    d4 = []
    d5 = []
    d6 = []
    d7 = []
    
    for i in company:

        try:
            d1.append(i.find_all('li')[0].text.strip())
        except:
            d1.append(np.nan)
            
        try:
            d2.append(i.find_all('li')[1].text.strip())
        except:
            d2.append(np.nan)
            
        try:
            d3.append(i.find_all('li')[2].text.strip())
        except:
            d3.append(np.nan)
        
        try:
            d4.append(i.find_all('li')[3].text.strip())
        except:
            d4.append(np.nan)
        
        try:
            d5.append(i.find_all('li')[4].text.strip())
        except:
            d5.append(np.nan)
        
        try:
            d6.append(i.find_all('li')[5].text.strip())
        except:
            d6.append(np.nan)
            
        try:
            d7.append(i.find_all('li')[6].text.strip())
        except:
            d7.append(np.nan)
            
    df=pd.DataFrame({'qualifications1':d1,
                     'qualifications2':d2,
                     'qualifications3':d3,
                     'qualifications4':d4,
                     'qualifications5':d5,
                     'qualifications6':d6,
                     'qualifications7':d7

            })
  
    final=final.append(df,ignore_index=True)

In [154]:
final

,qualifications1,qualifications2,qualifications3,qualifications4,qualifications5,qualifications6,qualifications7
0,เพศชาย - หญิง อายุ 25 ปี ขึ้นไป,"วุฒิการศึกษาระดับปริญาตรี สาขา อาชีวอนามัยและความปลอดภัย, วิทยาศาสตร์ความปลอดภัย หรือผ่านการอบรบ จป.วิชาชีพ","มีความรู้ด้าน IATF16949, ISO14001, OHSAS18001",มีประสบการณ์ทำงานเป็นเจ้าหน้าที่ความปลอดภัย ในการทำงานระดับเทคนิคขั้นสูง,ขยันอดทน ทำงานในสภาวะกดดันได้,ยินดีรับนักศึกษาจบใหม่,NaN
1,เพศหญิง อายุระหว่าง 20 ปีขึ้นไป,วุฒิการศึกษา ปวส. ขึ้นไป,มีประสบการณ์อย่างน้อย 0 - 3 ปี,"มีความรู้ด้านการควบคุมเอกสาร ISO 9001:2015, ISO/TS 16949, ISO 14001 จะเป็นพิจารณาเป็นพิเศษ",สามารถใช้คอมพิวเตอร์ได้เป็นอย่างดี,NaN,NaN
2,เพศ ชาย หรือ หญิง,อายุ 22-30 ปี,วุฒิการศึกษา ปวส.ขึ้นไป ไม่จำกัดสาขา,"สามารถใช้โปรแกรม MS Office ( Word , Excel , PowerPoint ) ได้เป็นอย่างดี",เรียนรู้งานได้เร็ว คล่องแคล่ว,มีทักษะในการสื่อสาร ปฏิสัมพันธ์ และประสานงานระหว่างแผนก หร้ือ หน่วยงานต่างๆ ได้อย่างคล่องแคล่ว,พักอาศัยอยู่ใน อ.พระสมุทรเจดีย์หรือใกล้เคียง จะได้รับการพิจารณาเป็นพิเศษ
3,ชาย / หญิง อายุ 25 - 40 ปี,"วุฒิ ป.ตรี สาขาความปลอดภัยอาชีวอนามัย, วิทยาศาสตร์ความปลอดภัย หรือผู้ที่ผ่านอบรมหลักสูตร จป.วิชาชีพ",มีความอดทนและมีความเป็นผู้นำสูง,มีความขยันและทุ่มเทกับงาน,มีมนุษยสัมพันธ์ดี มีทักษะในการประสานงาน ทั้งภายในองค์กร และภายนอกองค์กร,NaN,NaN
4,เพศชาย หรือ หญิง,อายุ 20 - 35 ปี,วุฒิการศึกษา ปวช ขึ้นไป,มีประสบการณ์ในสายงานหรือเกี่ยวข้อง,มีความอดทนที่จะทำงานภายใต้แรงกดดันได้ดี,ถ้ามีประสบการณ์ในสายงาน จะพิจารณาเป็นพิเศษ,สามารถอยู่ทำ OT ได้ตามความเหมาะสมของงาน
5,เพศชาย อายุระหว่าง 22-25 ปี,วุฒิการศึกษาระดับปริญญาตรี สาขาด้านอาชีวอนามัยและความปลอดภัย (จป. วิชาชีพ),มีประสบการณ์อย่างน้อย 1 ปี ขึ้นไป,สามารถจัดระบบความปลอดภัยในการทำงานได้,มีความกระตือรือร้น และมีมนุษย์สัมพันธ์ดี,สามารถใช้คอมพิวเตอร์ได้เป็นอย่างดี,สามารถเป็นวิทยากรในการอบรมลูกจ้างได้
6,Male or Female Age 25-35 Year.,Bachelor’s Degree Major : Environmental Science or any field related with environmental management system.,GPA 2.50 UP,As least 3 years of experience in supervisor or chief level of environmental management system in manufacturing.,"Knowledge of EMS control, waste management, chemical management, laws and others requirements.","Ability to design, develop and implement effective management systems (ISO14001,Circular Economy and CSR)","Knowledge of procedures used to anticipate, recognize evaluate and control environmental burden"
7,Male or Female Age 24-28 Year.,"Bachelor Degree Major : Environment , Chemical Science program in any field",GPA 2.50 Up,"Have knowledge ISO14001, environmental law and other requirement and other",Experience 1-5 Year,NaN,NaN
8,อายุ 25 ปี - 35 ปี ชายหรือหญิง,มีความรับผิดชอบต่อหน้าที่ที่ได้รับมอบหมาย,กล้าหาญ อดทน,มีความยุติธรรม,รัก คน และชีวิตของคน,ให้ความสำคัญกับความปลอดภัยของโรงงาน และ พนักงาน,NaN
9,ปวส.ขึ้นไป สาขาช่างต่างๆ,มีประสบการณ์ซ่อมบำรุงทั่วไป,มีประสบการณ์ควบคุมบ่อบำบัดน้ำดี-น้ำเสียจะพิจารณาเป็นพิเศษ,มีประสบการณ์ทำงานโรงงานอุตสาหกรรม,ควรใช้Microsoft Officeได้,NaN,NaN

In [155]:
data.id.to_list()[6]

1290201